html {
  --palette-light: #FFE5EC;
  --palette-dark: #FFB3C6;
  --palette-accent: #FB6F92;
  --palette-dark-gray: #636363;
  --palette-light-gray: #E2E8F0;
}

#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 25px;
}