html {

  /* Custom CSS properties */
  --main-content-width: clamp(calc(45ch + 2*var(--card-pad-size) + 2*var(--content-pad-size) + 2*var(--ridge-width)), 75%, calc(75ch + 2*var(--card-pad-size) + 2*var(--content-pad-size) + 2*var(--ridge-width)));
  --card-width: clamp(calc(45ch + 2*var(--card-pad-size)), 75%, calc(75ch + 2*var(--card-pad-size)));
  --title-card-width: clamp(calc(45ch + 2*var(--card-pad-size)), 100%, calc(75ch + 2*var(--card-pad-size)));
  --content-pad-size: 25px;
  --card-pad-size: 15px;
  --ridge-width: 8px;

  --palette-light: #FFE5EC;
  --palette-dark: #FFB3C6;
  --palette-accent: #FB6F92;
  --palette-accent-2: #862092;
  --palette-dark-gray: #636363;
  --palette-light-gray: #E2E8F0;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
}

/* ========================================================================== */
/* NAVIGATION BAR */
/* ========================================================================== */

header {
  display: grid;
  justify-items: center;
}

nav {
  width: var(--main-content-width);
  height: 4.0rem;
  background-color: var(--palette-dark);
  border: var(--ridge-width) ridge;
  border-top: none;

  display: flex;
  justify-content: space-around;

  position: relative;
}

nav::before {
  content: "🍓";
  font-size: 64px;
  display: inline;

  position: absolute;
  left: -50px;
  top: -12px;
}

.nav-btn {
  height: 70%;
  width: 20%;
  font-size: 1.25rem;

  border: none;
  border-bottom: 6px solid var(--palette-accent);
  border-radius: 0 0 6px 6px;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: var(--palette-light-gray);
}

.nav-btn:active {
  background-color: revert;
}

/* ========================================================================== */
/* STYLES USED BY ALL PAGES */
/* ========================================================================== */

#content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: var(--content-pad-size);

  width: var(--main-content-width);
  margin: var(--content-pad-size) auto;
  padding: var(--content-pad-size);

  border: var(--ridge-width) ridge;
  background-color: var(--palette-light);
}

.card {
  width: var(--card-width);
  padding: var(--card-pad-size);
  background-color: var(--palette-dark);
  box-shadow: 0px 4px 6px -3px var(--palette-accent);
}

.accent-card {
  border-left: 8px solid var(--palette-accent);
}

.title-card {
  width: var(--title-card-width); 
  text-align: center;
}

h2 {
  margin-bottom: revert;
}

/* Supports creating a grid with two cards on each row */
.cards-container {
  width: var(--card-width); 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--card-pad-size);
}

.cards-container > .card {
  width: revert;
}

a {
  color: var(--palette-accent-2);
}
a:hover {
  filter: brightness(125%);
  cursor: pointer;
}

/* ========================================================================== */
/* HOME PAGE */
/* ========================================================================== */

blockquote {
  margin: revert;
}

ul {
  list-style-type: none;
}

li {
  padding-left: var(--content-pad-size);
}

.card h2:not(:nth-of-type(1)) {
  margin-top: var(--card-pad-size);
}

/* ========================================================================== */
/* MENU PAGE */
/* ========================================================================== */

.menu-image {
  height: 100%;
}

.menu-item {
  font-weight: bold;
  position: relative;
}

.menu-price {
  font-weight: normal;
  position: absolute;
  right: 50%;
}

.menu-favorite {
  display: inline;
  font-weight: normal;
  position: absolute;
  right: 6%;
}

/* ========================================================================== */
/* CONTACT PAGE */
/* ========================================================================== */

.contact-card {
  width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-pad-size);
}

.form-cell {
  flex: 1;
  min-width: 270px;
  max-width: calc(50% - var(--card-pad-size) / 2); /* (note) */ 
  /* (note) the deduction from 50% makes a cell on a row by itself the same 
  width as cells in rows with two cells */
}

.form-cell:has(textarea) {
  flex: auto;
  width: 100%;
  max-width: revert;
}

input { 
  font-family: inherit;
  display: block;
  height: 2rem;
  padding: 8px;
  border: 1px solid var(--palette-dark-gray);
  font-size: 1rem;
}
input:focus {
  outline: 1px solid black;
}

fieldset {
  border: none;
}

fieldset li {
  display: inline;
}

.awesome-radio {
  appearance: none;
  
  width: 20px;
  height: 20px; 
  display: inline-block;
  vertical-align: -10px; /* adjusts the position of the button on the text baseline */
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px; /* I have no idea why this works to fix the alignment */
}
.awesome-radio:focus {
  outline: 1px solid #862092; 
  outline-offset: -1px;
}
.awesome-radio:active {
  border-color: black;
}
.awesome-radio:checked {
  border-color: #862092;
}
.awesome-radio:checked::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #862092;
  
  /* move the ink to the center */
  position: relative;
  top: calc(100%/2 - 6px); 
  left: calc(100%/2 - 6px);
}

textarea {
  width: 100%;
  padding: 8px;
  letter-spacing: 1px;
  resize: none;
}

#submit-btn {
  height: 2rem;
  padding: 7px 14px;

  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
}

#submit-btn:hover {
  background-color: #f0f0f0;
}

#submit-btn:active {
  background-color: white;
}